$top_nav_text_color: #93949b;

$side_nav_bg_color: #1a1b25;
$side_nav_text_color: #4b4a50;

$content_bg_color: #222533;
$content_border_color: #1f2231;

$header_bg_color: #2f3243;

$gradient_top_color: #e365f9;
$gradient_bot_color: #9f5bff;

$survey_table_item_bg_color: #282b3b;